#jinja2: trim_blocks: True,lstrip_blocks: True
{####################################

Purpose:
Configure snmp commands for os6 Devices

os6_snmp:
    snmp_contact:  test
    snmp_location: Santa Clara
    snmp_community:
      - name: public
        access_mode: ro
        state: absent
      - name: private
        access_mode: rw
        state: absent
    snmp_traps: 
      - name: all
        state: present
    snmp_host:
      - ip: 4.4.4.4
        communitystring: public
        udpport: 1
        state: absent
    snmp_v3:
      - views:
        - name: test_view
          oid: iso
          state: absent
        groups:
        - name: test_group
          auth: auth/noauth/priv
          priviledge: read/write
          view: test_view
          state: absent
        users:
        - name: test
          group: test_group
          auth_type: auth-md5/auth-md5-key/auth-sha/auth-sha-key
          auth_sting: authpass
          priv_type: priv-aes128/priv-aes128-key/priv-des/priv-des-key
          priv_sting: privpass
          state: absent

#####################################}
{% if os6_snmp is defined and os6_snmp %}

{% for key,value in os6_snmp|dictsort %}
  {% if key=="snmp_contact" %}
    {% if value %}
snmp-server contact "{{ value }}"
    {% else %}
no snmp-server contact
    {% endif %}
  {% elif key == "snmp_location" %}
    {% if value  %}
snmp-server location "{{ value }}"
    {% else %}
no snmp-server location
    {% endif %}
  {% elif key == "snmp_community" %}
    {% if value %}
      {% for item in value %}
        {% if item.name is defined and item.name %}
          {% if item.state is defined and item.state == "absent" %}
no snmp-server community {{ item.name }}
          {% else %}
            {% if item.access_mode is defined and item.access_mode %}
snmp-server community "{{ item.name }}" {{ item.access_mode }}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% elif key == "snmp_host" and value %}
    {% for item in value %}
      {% if item.ip is defined and item.ip %}
        {% if item.state is defined and item.state == "absent" %}
no snmp-server host {{ item.ip }} traps
        {% else %}
          {% if item.communitystring is defined and item.communitystring %}
            {% if item.udpport is defined and item.udpport %}
snmp-server host {{ item.ip }} "{{ item.communitystring }}" udp-port {{ item.udpport }}
            {% else %}
snmp-server host {{ item.ip }} "{{ item.communitystring }}"
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor%}
  {% elif key == "snmp_traps" %}
    {% if value %}
      {% for val in value %}
        {% if val.name is defined and val.name %}
          {% if val.state is defined and val.state == "absent" %}
no snmp-server enable traps {{ val.name }}
          {% else %}
            {% if val.name == "all" %}
              {% set trap_list = ['bgp state-changes limited','dvmrp','captive-portal','pim','captive-portal client-auth-failure','captive-portal client-connect','captive-portal client-db-full','captive-portal client-disconnect'] %}
              {% for name in trap_list %}
snmp-server enable traps {{ name }}
              {% endfor %}
            {% else %}
snmp-server enable traps {{ val.name }}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% elif key == "snmp_v3" %}
    {% set v3_vars = value %} 
    {% if v3_vars.views is defined %}
      {% for views in v3_vars.views %}
        {% if views.name is defined and views.name %}
          {% if views.state is defined and views.state=="absent" %}
no snmp-server view "{{ views.name }}"
          {% else %}
            {% if views.oid is defined and views.oid %}
snmp-server view "{{ views.name }}" {{ views.oid }} included              
            {% endif %}  
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if v3_vars.groups is defined %}
      {% for groups in v3_vars.groups %}
        {% if groups.name is defined and groups.name %}
          {% if groups.auth is defined and groups.auth %}
            {% if groups.state is defined and groups.state=="absent" %}
no snmp-server group "{{ groups.name }}" v3 {{ groups.auth }} 
            {% else %}
              {% if groups.view is defined and groups.view %}           
                {% if groups.priviledge is defined and groups.privilege %}  
snmp-server group "{{ groups.name }}" v3 {{ groups.auth }} {{ groups.privilege }} {{ groups.view }}                  
                {% endif %}  
              {% endif %}
            {% endif %}  
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if v3_vars.users is defined %}
      {% for users in v3_vars.users %}
        {% if users.name is defined and users.name %}
          {% if users.state is defined and users.state=="absent" %}
no snmp-server user "{{ users.name }}"  
          {% else %}
            {% if users.group is defined and users.group %}           
              {% if users.auth_type is defined and users.auth_type %}           
                {% if users.auth_sting is defined and users.auth_sting %}           
                  {% if users.priv_type is defined and users.priv_type %}             
                    {% if users.priv_sting is defined and users.priv_sting %}  
snmp-server user "{{ users.name }}" {{ users.group }} {{ users.auth_type }} {{ users.auth_sting }} {{ users.priv_type }} {{ users.priv_sting }}  
                    {% endif %}                    
                  {% endif %}                      
                {% endif %}                      
              {% endif %}  
            {% endif %}
          {% endif %}  
        {% endif %}
      {% endfor %}
    {% endif %}

  {% endif %}
{% endfor %}
{% endif %}
